@model FBI.Webpage.Models.IndexViewModel
@{
    ViewBag.Title = "Admin Panel";
}

<div class="main-content">
    <div class="limited-width-container">
        <p>&nbsp</p>
        <p>&nbsp</p>
        <h1 id ="head">Welcome to the Admin Panel:</h1>

        <a href="@Url.Action("Nuke", "Manage")" onclick="return confirm('Are you sure you want to nuke the database??')">
            <img id="nuke-button" src="https://i.ya-webdesign.com/images/nuke-logo-png-11.png" style="height:90px; width:90px; cursor: pointer" />
        </a>
        
        <input type="button" value="Update Database" id="update" onclick="location.href='@Url.Action("UpdateDB", "Manage")'; change()" />
        <h3>Add new profiles</h3>
        @using (Html.BeginForm("AddProfile", "Manage"))
        {
            <fieldset>
                <div class="form-horizontal">
                    <div class="form-row">
                        <label for="Uid">UID:</label>
                        <div class="editor-label">
                            @Html.TextBoxFor(model => model.item.uid)
                        </div>
                    </div>
                    <div class="form-row">
                        <label for="Name">Name:</label>
                        <div class="editor-label">
                            @Html.TextBoxFor(model => model.item.title)
                        </div>
                    </div>
                    <div class="form-row">
                        <label for="Nationality">Nationality:</label>
                        <div class="editor-label">
                            @Html.TextBoxFor(model => model.item.nationality)
                        </div>
                    </div>
                    <div class="form-row">
                        <label for="Name">Prosecution:</label>
                        <div class="editor-label">
                            @Html.TextBoxFor(model => model.item.description)
                        </div>
                    </div>
                    <div class="form-row">
                        <label for="Reward">Reward:</label>
                        <div class="editor-label">
                            @Html.TextBoxFor(model => model.item.reward_max)
                        </div>
                    </div>
                    <div class="form-row">
                        <label for="Warning message">Warning Message:</label>
                        <div class="editor-label">
                            @Html.TextBoxFor(model => model.item.warning_message)
                        </div>
                    </div>
                    <div class="form-row">
                        <label for="Photo">Photo:</label>
                        <div class="editor-label">
                            @Html.TextBoxFor(model => model.image.large)
                        </div>
                    </div>
                    <input type="submit" id="submit-button" value="Go!" class="btn btn-default" />
                </div>
            </fieldset>
        }
    </div>
</div>

<div>
    @foreach(var report in Model.outstandingReports)
    {
        <p>Report ID: @report.sid</p>
        <p>Report Time: @report.time</p>
        <p>Report Date: @report.date</p>
        <p>Reported Location: @report.addr</p>
        <p>Reported Details: @report.addrspec</p>
        <p>Comments: @report.comment</p>
        <button> Verify Report</button> <button>Delete Report</button>
    }
</div>



<script>
    function change() 
    {
        var elem = document.getElementById("update");
        elem.value = "Updating...";
    }


</script>