@model FBI.Webpage.Models.accountViewModel
@{
    ViewBag.Title = "Edit A Most Wanted Profile";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>You can Edit the details for this Most Wanted Profile below.</h4>

    <div class="container">
        <h1>Edit Profile</h1>
        <hr>
        <div class="row">
            <!-- left column -->

            <div class="text-center">
                @foreach (var image in Model.fugitive.images)
                {
                    <img src="@image" class="avatar" alt="avatar" height="300">
                }




                <script src="~/Scripts/jquery-1.10.2.min.js"></script>
                <script src="~/Scripts/jquery.validate.min.js"></script>
                <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
            </div>


            <!-- edit form column -->
            <div class="personal-info">
                @{if (Model.fugitive.caution != null || Model.fugitive.caution != "null" || Model.fugitive.caution.IsEmpty())
                    {

                        <div class="alert alert-danger alert-dismissable">
                            <a class="panel-close close" data-dismiss="alert">×</a>
                            <i class="fa fa-coffee"></i>
                            Caution! <strong>@Model.fugitive.caution </strong>
                        </div>
                    }
                }

                <h3>Personal info</h3>

                @using (Html.BeginForm("PostTheEditedProfile", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {@Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.fugitive.file, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.fugitive.file, new { htmlAttributes = new { @class = "form-control", @type = "file" } })
                            @Html.ValidationMessageFor(model => model.fugitive.file, "", new { @class = "text-danger" })
                        </div>
                    </div>




                </div>
                <p>Title:</p>
                @Html.TextAreaFor(m => m.fugitive.title)
                <p>Description:</p>
                @Html.TextAreaFor(model => model.fugitive.description)
                <p>Caution:</p>
                @Html.TextAreaFor(model => model.fugitive.caution)
                <p>UID:</p>
                @Html.TextAreaFor(model => model.fugitive.uid)
                <p>Status:</p>
                @Html.TextAreaFor(model => model.fugitive.status)
                <p>Nationality:</p>
                @Html.TextAreaFor(model => model.fugitive.nationality)

                @Html.HiddenFor(model => model.fugitive.reward_max)
                @Html.HiddenFor(model => model.fugitive.reward_min)

                for (int i = 0; i < Model.fugitive.images.Count(); i++)
                {
                    @Html.HiddenFor(model => model.fugitive.images[i]);
                }

                for (int i = 0; i < Model.fugitive.locations.Count(); i++)
                {
                    @Html.HiddenFor(model => model.fugitive.locations[i]);
                }

                <input type="submit" value="Save Changes" />

            }



            </div>
        </div>
    </div>
    <hr>

    @foreach (var report in Model.reports)
    {

        <p>Date: @report.date</p>
        <p>Time: @report.time</p>
        <p>Address: @report.addr</p>
        <p>Address Detals: @report.addrspec</p>
        <p>Comments: @report.comment</p>
        <br /><br />
        if (report.verified == false)
        {
            @Html.ActionLink("Test Button", "b", "c")
        }

    }


</div>
