@model FBI.DataAccess.MostWantedProfilesModel.Root2

@{
    ViewBag.Title = "Most Wanted";
}

<div class="jumbotron">
    <h1>FBI Most Wanted</h1>
</div>


<div class="main-content">

    @foreach (var fugitive in Model.items)
    {
        <div class="col-md-4">
            <div>
                <div style="height: 400px; width: 300px; overflow:hidden" >
                    <img src="@fugitive.images[0]" style="max-width:100%; height:auto;">
                </div>
                <div class="details_content">
                    @*@using (Html.BeginForm("Edit", "Home", FormMethod.Post))
                    {
                        @Html.HiddenFor(model => fugitive.uid)

                        <input class="user-link" type="submit" value="View Profile" />
                    }*@
                    <p class="user-link">@Html.ActionLink("ViewProfile", "Edit", "Home", new { uid = fugitive.uid }, null)</p>
                    <p>
                        <h4 style="font-weight:bolder">@fugitive.title</h4>
                    </p>

                    <p>
                        <h4 style="color:orangered; font-weight:bolder;">


                            @if (fugitive.caution != "null")
                            {
                                @fugitive.caution
                            }
                            @if (fugitive.caution == "null")
                            {
                                <br />
                                <br />
                            }

                        </h4>
                    </p>

                </div>
            </div>
        </div>
    }

    <div class="col-md-4">

    </div>
</div>


