@model FBI.DataAccess.MostWantedProfilesModel.Item2
@{
    ViewBag.Title = "Edit A Most Wanted Profile";
}

<h2>@ViewBag.Title.</h2>

@*<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <div class="alert  alert-dismissable">
        <a class="panel-close close" data-dismiss="alert">×</a>
        <i class="fa fa-coffee"></i>
        Profile Updated <strong>Successfully </strong>
    </div>*@

    <div class="container">
        <h1>View Profile</h1>
        <hr>
        <div class="row">
            <!-- left column -->

            <div class="text-center">
                @foreach (var image in Model.images)
                    {
                        <img src="@image" class="avatar" alt="avatar" height="300">
                    }

                
            </div>


            <!-- edit form column -->
            <div class="personal-info">
                @{if (Model.caution != null && Model.caution != "null" && Model.caution != "caution" && Model.caution != "")
                    {

                        <div class="alert alert-danger alert-dismissable">
                            <a class="panel-close close" data-dismiss="alert">×</a>
                            <i class="fa fa-coffee"></i>
                            Caution! <strong>@Model.caution </strong>
                        </div>
                    }
                }

                <h3>Personal info</h3>

                @using (Html.BeginForm("PostTheEditedProfile", "Home", FormMethod.Post))
                {
                    <br />
                    <p><strong>Title:</strong></p>
                    @Html.DisplayFor(m => m.title)
                    <br />

                    <br />
                    <p><strong>Description:</strong></p>
                    @Html.DisplayFor(model => model.description)
                    <br />

                    <br />
                    <p><strong>Caution:</strong></p>
                    @Html.DisplayFor(model => model.caution)
                    <br />

                    <br />
                    <p><strong>UID:</strong></p>
                    @Html.DisplayFor(model => model.uid)
                    <br />

                    <br />
                    <p><strong>Status:</strong></p>
                    @Html.DisplayFor(model => model.status)
                    <br />

                    <br />
                    <p><strong>Nationality:</strong></p>
                    @Html.DisplayFor(model => model.nationality)
                    <br />


                    @*@Html.HiddenFor(model => model.reward_max)
            @Html.HiddenFor(model => model.reward_min)
            @Html.HiddenFor(model => model.images[0])

            foreach (var item in Model.images)
            {

            }
            for (int i = 0; i < Model.images.Count() - 1; i++)
            {
                Html.HiddenFor(modelitem => modelitem.images[i]);
            }

            for (int i = 0; i < Model.locations.Count() - 1; i++)
            {
                Html.HiddenFor(model => model.locations[i]);
            }

            <input type="submit" value="Save Changes" />*@

                }



            </div>
        </div>
    </div>
    <hr>




