@model FBI.Webpage.Models.accountViewModel
@{
    ViewBag.Title = "Edit A Most Wanted Profile";
}

<h2>@ViewBag.Title.</h2>

@*<p class="text-success">@ViewBag.StatusMessage</p>
    <div>
        <div class="alert  alert-dismissable">
            <a class="panel-close close" data-dismiss="alert">×</a>
            <i class="fa fa-coffee"></i>
            Profile Updated <strong>Successfully </strong>
        </div>*@

<div class="container">
    <h1>View Profile</h1>
    <hr>
    <div class="row">
        <!-- left column -->

        <div class="text-center">
            @foreach (var image in Model.fugitive.images)
            {
                <img src="@image" class="avatar" alt="avatar" height="300">
            }


        </div>


        <!-- edit form column -->
        <div class="personal-info">
            @{if (Model.fugitive.caution != null && Model.fugitive.caution != "null" && Model.fugitive.caution != "caution" && Model.fugitive.caution != "")
                {

                    <div class="alert alert-danger alert-dismissable">
                        <a class="panel-close close" data-dismiss="alert">×</a>
                        <i class="fa fa-coffee"></i>
                        Caution! <strong>@Model.fugitive.caution </strong>
                    </div>
                }
            }

            <h3>Personal info</h3>

            @using (Html.BeginForm("PostTheEditedProfile", "Home", FormMethod.Post))
            {
                <br />
                <p><strong>Title:</strong></p>
                @Html.DisplayFor(m => m.fugitive.title)
                <br />

                <br />
                <p><strong>Description:</strong></p>
                @Html.DisplayFor(model => model.fugitive.description)
                <br />

                <br />
                <p><strong>Caution:</strong></p>
                @Html.DisplayFor(model => model.fugitive.caution)
                <br />

                <br />
                <p><strong>UID:</strong></p>
                @Html.DisplayFor(model => model.fugitive.uid)
                <br />

                <br />
                <p><strong>Status:</strong></p>
                @Html.DisplayFor(model => model.fugitive.status)
                <br />

                <br />
                <p><strong>Nationality:</strong></p>
                @Html.DisplayFor(model => model.fugitive.nationality)
                <br />
            }

        </div>
    </div>
</div>
@foreach (var report in Model.reports)
{
    if (report.verified == true)
    {
        <p>Date: @report.date</p>
        <p>Time: @report.time</p>
        <p>Address: @report.addr</p>
        <p>Address Detals: @report.addrspec</p>
        <p>Comments: @report.comment</p>
        <br /><br />
    }
}


<hr>




